* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

/* configuração da parte do header */

.header_Agencia_Marketing {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 999;
  background: transparent;
  transition:
    background 0.3s ease,
    box-shadow 0.3s ease;
}

.header_Agencia_Marketing.scrolled {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(0.5rem);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.div_Logo_Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.img_Logo {
  width: 75px;
  height: 75px;
}

.nav_Agencia_Marketing a {
  text-decoration: none;
  color: #ffffff60;
  padding: 0 5px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 20px;
  transition: color 0.5s ease;
}

.bt_Consultoria {
  padding: 10px 18px;
  border: 1px solid #c62828;
  color: #fff;
  background: #c62828;
  border-radius: 30px;
  box-shadow: 2px 2px 20px #c62828;
  cursor: pointer;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 800;
  font-size: 1rem;
}

/* Estilizando a parte principal da página, Main */

.main_Agencia_Marketing {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.img_main {
  position: absolute;
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}

.section_Main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  gap: 1rem;
  overflow: hidden;
}

.div_Section_Main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow-wrap: break-word;
  word-break: normal;
  gap: 1.5rem;
}

.section_Main_h1 {
  color: #1f3c88;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}

.section_Main_h2 {
  font-family: "Inter", sans-serif;
  font-size: 4.5rem;
  font-weight: 700;
  color: #fff;
}

.strong_Crescimento {
  font-family: "Inter", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  color: #1f3c88;
}

.section_Main_h3 {
  color: #bddbdd;
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
}

.div_Section_BT {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.button_Case {
  padding: 10px 25px;
  border: 1px solid #1f3c88;
  border-radius: 20px;
  color: #fff;
  background: #205dab;
  box-shadow: 2px 2px 20px #205dab;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.button_Agendar {
  padding: 10px 25px;
  border: 1px solid #c62828;
  border-radius: 20px;
  color: #fff;
  background: #c62828;
  box-shadow: 2px 2px 20px #c62828;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.figure_Sec_IMG {
  margin-top: 10rem;
  margin-left: 5rem;
}

.figure_IMG {
  max-width: 40rem;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

/* Estilizando a section_Portfólio  */

.section_Portfolio {
  background-color: #000;
}

.div_Portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1rem;
}

.div_Resultados {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 0 10px;
}

.div_Resultados p {
  color: #205dab;
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: 2px;
  font-size: 1rem;
}
.div_Resultados h1 {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 3rem;
}
.div_Resultados h3 {
  color: #bddbdd;
  font-family: "Inter", sans-serif;
  letter-spacing: 2px;
  font-size: 1rem;
}

.div_Projetos_Agencia {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.Projeto_um,
.Projeto_dois,
.Projeto_tres,
.projeto_quatro,
.projeto_cinco,
.projeto_seis {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.116);
  border-radius: 15px;
  width: 100%;
  max-width: 100%;
  height: 200px;
  padding: 0 10px;
  overflow: hidden;
  z-index: 0;
}

.img_Projeto {
  position: absolute;
  inset: 0;
  z-index: -1;
  transition: transform 0.5s ease;
  pointer-events: none;
  will-change: transform;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Projeto_um::after,
.Projeto_dois::after,
.Projeto_tres::after,
.projeto_quatro::after,
.projeto_cinco::after,
.projeto_seis::after {
  position: absolute;
  content: "";
  inset: 0;

  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.8) 35%,
    rgba(0, 0, 0, 0.5) 65%
  );

  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 2;
  pointer-events: none;
  will-change: opacity, transform;
}

.Projeto_um h3,
.Projeto_dois h3,
.Projeto_tres h3,
.projeto_quatro h3,
.projeto_cinco h3,
.projeto_seis h3 {
  z-index: 3;
  color: white;
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: 2px;
  font-size: 18px;
  padding-bottom: 15px;
  opacity: 0;
  transform: translateY(40px);
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

.Projeto_um p,
.Projeto_dois p,
.Projeto_tres p,
.projeto_quatro p,
.projeto_cinco p,
.projeto_seis p {
  z-index: 3;
  color: white;
  font-size: 10px;
  font-family: "Inter", sans-serif;
  opacity: 0;
  padding-bottom: 15px;
  transform: translateY(40px);
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

/* section Sobre */

.section_Sobre {
  background: #1c1c1e;
}

.div_Sobre {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 15px;
  gap: 2rem;
  overflow: hidden;
}

.div_Sobre_Texto {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.div_Video {
  overflow: hidden;
  max-width: 30rem;
  width: 100%;
  height: 30rem;
  border: 1px solid #1c1c1e;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 10px 0px 30px black;
  aspect-ratio: 16 / 9;
  position: relative;
}

.div_Video video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.div_Texto {
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-left: 50px;
  overflow: hidden;
}

.Span_Sobre {
  color: #205dab;
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: 2px;
  font-size: 1.1rem;
  margin-bottom: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
}

.div_Texto h2 {
  color: white;
  font-size: 3rem;
  font-family: "Inter", sans-serif;
  margin-bottom: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
}

.span_Dados {
  color: #205dab;
  font-size: 3rem;
  font-family: "Inter", sans-serif;
  letter-spacing: 2px;
  margin-bottom: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
}
.div_Texto p {
  color: white;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  margin-bottom: 10px;
  line-height: 25px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
}
/* estilizando div_Sobre_Grid */

.div_Sobre_Grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10rem;
  padding: 1rem;
}

.div_Mercado,
.div_Entregues,
.div_Ativos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.figure_Mercado,
.figure_Entregues,
.figure_Ativos {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #10131b;
  border-radius: 1rem;
  max-width: 4rem;
  width: 100%;
  height: 4rem;
  overflow: hidden;
  background: #10131b;
}

.figure_Img {
  max-width: 2rem;
  width: 100%;
}

.div_Sobre_Mercado,
.div_Sobre_Entregues,
.div_Sobre_Ativos {
  gap: 1rem;
}

.p_5,
.p_200,
.p_50 {
  font-family: "Inter", sans-serif;
  font-size: 1.9rem;
  color: white;
  font-weight: 900;
}

.p_anos,
.Entregues,
.p_Ativos {
  font-family: "Space Grotesk", sans-serif;
  color: #205dab;
  font-size: 1rem;
}

/* estilizando a parte section_Contato */

.section_Contato {
  background: #000;
}

.div_Section_C {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  padding: 1rem;
  gap: 1.5rem;
}

.span_Contato {
  color: #205dab;
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: 2px;
  font-size: 1.1rem;
  margin-bottom: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
}

.h2_Pronto {
  color: white;
  font-size: 3rem;
  font-family: "Inter", sans-serif;
  margin-bottom: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
}

.p_consultoria {
  color: #bddbdd;
  font-family: "Inter", sans-serif;
  letter-spacing: 2px;
  font-size: 1rem;
  margin-bottom: 10px;
  line-height: 25px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
}

.contato_Grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1rem;
  gap: 1.5rem;
}

.email,
.telefone,
.localização,
.horarios {
  display: grid;
  border: 1px solid #1c1c1e;
  border-radius: 10%;
  background: #1c1c1e;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  place-items: center;
  text-align: center;
  padding: 1rem;
  gap: 1rem;
}
.figure_Email,
.figure_Telefone,
.figure_Localização,
.figure_Horarios {
  border: 1px solid #10131b;
  background: #10131b;
  border-radius: 20%;
  width: 3rem;
  height: 3rem;
  display: grid;
  place-items: center;
}

.img_Email,
.img_Telefone,
.img_Localização,
.img_Horarios {
  width: 1rem;
  height: 1rem;
}

.span_Email,
.span_Telefone,
.span_Localização,
.span_Horarios {
  font-family: "Space Grotesk", sans-serif;
  color: #205dab;
  font-size: 0.8rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
}

.p_Email,
.p_Telefone,
.p_Localização,
.p_Horarios {
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 0.9rem;
}

.falar {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
  border: 1px solid #c62828;
  border-radius: 2rem;
  width: 15rem;
  height: 2.8rem;
  background: #c62828;
  box-shadow: 2px 2px 20px #c62828;
  color: #fff;
  transition: transform 0.5s ease;
  cursor: pointer;
}

/* Estilizando a parte final, o footer */
.footer {
  background: #1c1c1e;
  width: 100%;
  height: auto;
  padding: 1rem;
}

.div_Footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 1rem;
}

.div_Footer_um,
.div_Footer_dois,
.div_Footer_tres {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: flex-start;
  justify-content: center;
}

.pictures img {
  width: 2rem;
  height: auto;
}

.div_Footer_um p {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 100;
  line-height: 1.5rem;
  font-size: 0.9rem;
  text-align: left;
}

.pictures_Instagram {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1rem 0;
}

.pictures_Instagram img {
  width: 2rem;
  height: auto;
}

.div_Footer_dois p {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 100;
  padding: 1rem 0;
}

.div_Footer_dois a {
  text-decoration: none;
  color: #fff;
  padding: 0.2rem 0;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
}

.footer_Pcontato {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 100;
  padding: 1rem 0;
}

.Footer_Email,
.Footer_Telefone,
.Footer_Localizacao {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0;
  justify-content: center;
  align-items: center;
}

.Footer_Email img,
.Footer_Telefone img,
.Footer_Localizacao img {
  width: 1rem;
  height: auto;
}

.Footer_Email p,
.Footer_Telefone p,
.Footer_Localizacao p {
  color: #fff;
  padding: 0 0.5rem;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: 100;
}

.linha_Footer {
  border: none;
  height: 0.06em;
  background-color: #000;
  margin: 0.5rem;
}
.p_Linha_Footer {
  color: #fff;
  font-family: "Space Grotesk", sans-serif;
  font-size: 0.9rem;
  font-weight: 100;
}

/* Entrada das divs  */

/* saiu de cima */
.saiu-cima {
  opacity: 0;
  transform: translateY(-40px);
  transition:
    opacity 0.9s ease,
    transform 0.9s ease;
}

.saiu-cima.entrou {
  opacity: 1;
  transform: translateY(0);
}

/* baixo */

.saiu-baixo {
  opacity: 0;
  transform: translateY(40px);
  transition:
    opacity 0.9s ease,
    transform 0.9s ease;
}

.saiu-baixo.entrou {
  opacity: 1;
  transform: translateY(0);
}

/* Lado Esquerdo */

.saiu-lado-esquerdo {
  opacity: 0;
  transform: translateX(-40px);
  transition:
    opacity 0.9s ease,
    transform 0.9s ease;
}

.saiu-lado-esquerdo.eentrou {
  opacity: 1;
  transform: translateX(0);
}

/* lado Direito */

.saiu-lado-direito {
  opacity: 0;
  transform: translateX(40px);
  transition:
    opacity 0.9s ease,
    transform 0.9s ease;
}

.saiu-lado-direito.eentrou {
  opacity: 1;
  transform: translateX(0);
}

/* Para animação funcionar no desktop */

@media (hover: hover) {
  .nav_Agencia_Marketing a:hover {
    color: white;
  }

  .button_Case:hover {
    transform: scale(1.1);
  }
  .button_Agendar:hover {
    transform: scale(1.1);
  }

  /* Estilizando a section_Portfólio  */
  .Projeto_um:hover .img_Projeto,
  .Projeto_dois:hover .img_Projeto,
  .Projeto_tres:hover .img_Projeto,
  .projeto_quatro:hover .img_Projeto,
  .projeto_cinco:hover .img_Projeto,
  .projeto_seis:hover .img_Projeto {
    transform: scale(1.1);
  }

  .Projeto_um:hover::after,
  .Projeto_dois:hover::after,
  .Projeto_tres:hover::after,
  .projeto_quatro:hover::after,
  .projeto_cinco:hover::after,
  .projeto_seis:hover::after {
    opacity: 1;
  }

  .Projeto_um:hover p,
  .Projeto_dois:hover p,
  .Projeto_tres:hover p,
  .projeto_quatro:hover p,
  .projeto_cinco:hover p,
  .projeto_seis:hover p,
  .Projeto_um:hover h3,
  .Projeto_dois:hover h3,
  .Projeto_tres:hover h3,
  .projeto_quatro:hover h3,
  .projeto_cinco:hover h3,
  .projeto_seis:hover h3 {
    opacity: 1;
    transform: translateY(0);
  }

  /* estilizando a parte section_Contato */

  .falar:hover {
    transform: scale(1.1);
  }
}

/* Para animação funcionar no mobile */

@media (hover: none) {
  .nav_Agencia_Marketing a:active {
    color: white;
  }
  .button_Case:active {
    transform: scale(1.1);
  }
  .button_Agendar:active {
    transform: scale(1.1);
  }

  /* Estilizando a section_Portfólio  */

  .Projeto_um:focus-within .img_Projeto,
  .Projeto_dois:focus-within .img_Projeto,
  .Projeto_tres:focus-within .img_Projeto,
  .projeto_quatro:focus-within .img_Projeto,
  .projeto_cinco:focus-within .img_Projeto,
  .projeto_seis:focus-within .img_Projeto {
    transform: scale(1.1);
  }

  .Projeto_um:focus-within::after,
  .Projeto_dois:focus-within::after,
  .Projeto_tres:focus-within::after,
  .projeto_quatro:focus-within::after,
  .projeto_cinco:focus-within::after,
  .projeto_seis:focus-within::after {
    opacity: 1;
  }
  .Projeto_um:focus-within h3,
  .Projeto_dois:focus-within h3,
  .Projeto_tres:focus-within h3,
  .projeto_quatro:focus-within h3,
  .projeto_cinco:focus-within h3,
  .projeto_seis:focus-within h3,
  .Projeto_um:focus-within p,
  .Projeto_dois:focus-within p,
  .Projeto_tres:focus-within p,
  .projeto_quatro:focus-within p,
  .projeto_cinco:focus-within p,
  .projeto_seis:focus-within p {
    opacity: 1;
    transform: translateY(0);
  }

  /* estilizando a parte section_Contato */

  .falar:active {
    transform: scale(1);
  }
}

/* mobile Pequeno */

@media (max-width: 480px) {
  /* Estilizando a nav, parte inicial da página */
  .nav_Agencia_Marketing {
    display: none;
  }
  .bt_Consultoria {
    display: none;
  }

  /* Section main */
  .section_Main {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    padding: 1rem;
  }

  .section_Main_h1 {
    font-size: 1rem;
  }

  .section_Main_h2 {
    font-size: 2.3rem;
  }

  .strong_Crescimento {
    font-size: 3.6rem;
  }

  .section_Main_h3 {
    font-size: 1rem;
  }

  .div_Section_BT {
    gap: 20px;
  }

  .div_Section_P p {
    font-size: 18px;
  }

  .div_Section_H1 h1 {
    font-size: 30px;
  }

  .div_Section_H1 h2 {
    font-size: 40px;
  }

  .div_Section_H3 h3 {
    font-size: 12px;
  }

  .div_Section_BT {
    display: flex;
    gap: 20px;
    margin-top: 30px;
  }

  .figure_Sec_IMG {
    margin: 0;
  }
  .figure_IMG {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  /* Estilizando a section_Portfólio  */

  .section_Main {
    gap: 20px;
  }

  .div_Resultados {
    margin-top: 20px;
  }

  .div_Resultados p {
    font-size: 12px;
  }

  .div_Resultados h1 {
    font-size: 25px;
  }

  .div_Resultados h3 {
    font-size: 10px;
  }

  .div_Projetos_Agencia {
    grid-template-columns: 1fr;
  }
  /* estilizando a section sobre */

  .div_Sobre_Texto {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .div_Video {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    width: 23rem;
    height: 30rem;
    border: 1px solid #1c1c1e;
    border-radius: 30px;
    box-shadow: 10px 0px 30px black;
    aspect-ratio: 16/9;
  }

  .div_Video video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
  }

  .div_Texto {
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    margin: 2rem 0;
    gap: 1rem;
  }

  /* estilizando div_Sobre_Grid */

  .div_Sobre_Grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .div_Sobre_Grid > :nth-child(3) {
    grid-column: span 2;
    justify-self: center;
  }

  /* contato */

  .contato_Grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 0;
    gap: 1rem;
  }

  .email,
  .telefone,
  .localização,
  .horarios {
    display: grid;
    border: 1px solid #1c1c1e;
    border-radius: 10%;
    background: #1c1c1e;
    width: 100%;
    max-width: 100%;
    height: 10.8rem;
    overflow: hidden;
    place-items: center;
    text-align: center;
    padding: 1rem;
  }

  /* footer */

  .div_Footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: flex-start;
    gap: 1rem;
  }

  .div_Footer_um p {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 100;
    line-height: 1.5rem;
    font-size: 0.9rem;
    text-align: left;
  }
  .p_Linha_Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

/* mobile tablet */

@media (max-width: 900px) {
  /* portifolios */
  .div_Projetos_Agencia {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 30px;
  }

  /* sobre */
  .div_Sobre_Texto {
    flex-direction: column;
    gap: 1.5rem;
  }

  .div_Texto {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
  }

  .contato_Grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* tablet notebook */

@media (max-width: 1024px) {
  /* Section main */
  .section_Main {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    padding: 1rem;
  }

  .div_Section_Main {
    gap: 3rem;
  }

  .figure_Sec_IMG {
    margin: 0;
  }
  .figure_IMG {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 1051px) {
  /* Section main */
  .section_Main {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    padding: 1rem;
  }

  .div_Section_Main {
    gap: 3rem;
  }

  .figure_Sec_IMG {
    margin: 0;
  }
  .figure_IMG {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}
